l-container-width = 90%

form-width = 280px
mobile-form-width = 140px
form-height = 18px
form-text-indent = 20px
form-padding-v = .5em
form-padding-h = 1em

color-bg = #ececec
border-color = #b2b2b2
color-active = #ff7d13
color-blue = lighten( blue, 25 )

border-radius-normal = 3px
border-width-normal = 1px

z-index-t1 = 1

/* validation */
vform-note-color = white
vform-note-bc = lighten( red, 20 )
vform-note-border-width = 12px 10px 0 10px

vform-unvalid-duration = 800ms
